*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Inter', sans-serif;
    background: linear-gradient(to bottom, #78d3fd, #f2f2f2);
    transition: all 0.3s ease-in-out;
    overscroll-behavior: none;
    height: 100%;
}
header{
    background: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    
    
}
header div:nth-of-type(1){
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#menutoggle{
    color: grey;
    font-weight: 700;
}
.hidden{
    display: none;
}
.logo{
    font-weight: 800;
    font-size: 1.5rem;
    color: rgb(24, 180, 252);
    
}
#navLinks{
    display: flex;
    gap: 1rem;
    list-style: none;
    font-weight: 600;
    color: rgb(24, 180, 252);
}
#navLinks a{
    text-decoration: none;
    color: rgb(24, 180, 252);
    transition: all 0.3s ease-in-out;
}

#navLinks a:hover{
    scale: 1.1;
    

}
.heading{
    font-weight: 800;
    font-size: 3rem;
    text-align: center;
    margin: 3rem;
    color: white;
}


.heroContent div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}


.hero input{
    padding: 0.5rem;
    border-radius: 12px;
    
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}
.hero button{
    padding: 0.5rem 1rem;
    border-radius: 12px;
    border: none;
    background-color: white;
    color: rgb(24, 180, 252);
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.hero button:hover{
    scale: 1.1;
    
}
.weatherSummary{
    background-color: white;
    max-width: 250px;
    position:relative;
    left: 500px;
    top: 30px;
    padding: 10px;
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}
.weatherSummary h3{
    color: rgb(24, 180, 252);
    font-weight: 600;
}
.weatherSummary p{
    color: rgb(24, 180, 252);
    font-weight: 600;
}
.weatherSummary:hover{
    scale: 1.1;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.1);
}
.outfitSuggestions{
    margin-top: 100px;
    background-color: white;
    max-width: 1000px;
    margin-left: 100px;
    border-radius: 12px;
    padding: 50px;

}
.outfitSuggestions h2{
    background-color: #78d3fd;
    width: 50%;
    
    
    
    
    padding: 50px;
    margin-left: 230px;
    border-radius: 12px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    
    text-align: center;
    
    font-weight: 600;
}
.carousel{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    height: 300px;
    padding: 1rem;
    border-radius: 12px;
    
    
    
}
.carousel div{
    background-color: #78d3fd;
    height: 150px;
    padding: 10px;
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    text-wrap: wrap;
    max-width: 250px;

}
.carousel div:hover{
    scale: 1.1;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.1);
}
.carousel div span{
    font-size: 2rem;
    
}
.carousel div h3{
    
    font-weight: 600;
}
.carousel div p{
    
    font-weight: 600;
}
.additionalFeatures{
    
    margin-top: 100px;
}
.features{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5rem;
    padding: 1rem;
    border-radius: 12px;
    
}
.features div{
    background-color: #fff;
    height: 300px;
    padding: 10px;
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    text-wrap: wrap;
    max-width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-direction: column;
}
.features div:hover{
    scale: 1.1;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.1);
}
.features div h3{
    
    font-weight: 600;
}
.features div p{
    
    font-weight: 600;
}
footer{
    text-align: center;
    padding: 10px;
    margin: 10px;
}